<section id="login">
    <header>
        
    </header>
    <article class="container-fliud">
        <form ng-submit="loginClickHandle()" class="form-horizontal">
            <div class="form-group">
                <div class="input-group">
                    <label class="control-label input-group-addon" style="background-color: transparent;color:#eee;">账号</label>
                    <input type="text" class='form-control' style="background-color: transparent;color:#eee;" ng-model="user.username"></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="control-label input-group-addon" style="background-color: transparent;color:#eee;">密码</label>
                    <input type="password" class='form-control' ng-model="user.password" style="background-color: transparent;color:#eee;"></div>
            </div>
            <div style="color:brown;">{{tips}}</div>
            <div class="form-group" style="margin-top: 50px">
                <div class="col-sm-8">
                    <button class="btn btn-default form-control" type="submit" style="background-color: transparent;color:#eee;">登录</button>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-default form-control" style="background-color: transparent;color:#eee;">注册</a>
                </div>
            </div>
        </form>
    </article>
</section>