<section>
    <header>
        <div class="well">
            <h3>添加故障类型</h3>
            <a class="btn btn-default" ui-sref="index.quote"> <i class="glyphicon glyphicon-share-alt flip-horizontal"></i>
                返回
            </a>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>添加一级故障</h1>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="defaultF">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">输入新故障</label>
                            <div class="col-sm-10">
                                <input type="text" required ng-model="Default.name" class="form-control"  placeholder="输入新故障"></div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="Default.iphoneshow">iphoneshow</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="Default.samsungshow">samsungshow</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="Default.xiaomishow">xiaomishow</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="Default.huaweishow">huaweishow</label>
                        </div>
                    </form>
                </div>
                <div class="panel-footer clearfix">
                    <div ng-if="defaultTips.length">添加的品牌信息:</div>
                    <div ng-repeat="tip in defaultTips">{{tip}}</div>
                    <button type="button" ng-disabled="defaultF.$invalid" class="pull-right btn btn-default" ng-click="addDefault(Default)">确定添加</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ui-select ng-model="select.default" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="选择故障类型">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="default in select.defaults | propsFilter: {name: $select.search}">
                            <div>
                                <span ng-bind-html="''+default.name | highlight: $select.search"></span>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                    <form>                        
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="alter.default.iphoneshow">iphoneshow</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="alter.default.samsungshow">samsungshow</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="alter.default.xiaomishow">xiaomishow</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="alter.default.huaweishow">huaweishow</label>
                        </div>
                    </form>
                </div>
                <div class="panel-footer clearfix">                    
                    <div>{{alter.tip}}</div>
                    <button type="button" ng-disabled="!alter.default.id" class="pull-right btn btn-default" ng-click="updateDefault(alter.default)">修改</button>
                </div>
            </div>
        </div>
    </article>
    <footer></footer>
</section>