<section>
    <header>
        <h3>添加品牌型号</h3>

    </header>
    <article>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>添加品牌</h1>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">输入新品牌</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="brandToAdd" class="form-control"  placeholder="输入新品牌"></div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer clearfix">
                    <button type="button" class="pull-right btn btn-default" ng-click="addBrand(brandToAdd)">确定添加</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>添加型号</h1>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择品牌</label>
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option value="">请选择品牌</option>
                                    <option value="{{brand.id}}" ng-repeat="brand in brandList">{{brand.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">输入新型号</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="versionToAdd" class="form-control"  placeholder="输入新型号"></div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer clearfix">
                    <button type="button" class="pull-right btn btn-default" ng-click="addVersion(versionToAdd)">确定添加</button>
                </div>
            </div>
        </div>
    </article>
    <footer></footer>
</section>