<section>
    <header class="modal-header">
        <h3 class="modal-title">添加新报价</h3>
    </header>
    <article class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                <legend>产品信息</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">品牌</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="data.brand">
                            <option value="">请选择品牌</option>
                            <option value="{{brand.id}}" ng-repeat="brand in brandList">{{brand.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">型号</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="data.version">
                            <option value="">请选择型号</option>
                            <option value="{{version.id}}" ng-repeat="version in versionList">{{version.name}}</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>故障信息</legend>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">一级故障</label>
                    <div class="col-sm-10">
                        <select ng-model="data.fault" class="form-control">
                            <option value="">请选择一级故障</option>
                            <option value="{{fault.id}}" ng-repeat="fault in faultList">{{fault.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">二级故障</label>
                    <div class="col-sm-10">
                        <select ng-model="data.subFault" class="form-control">
                            <option value="">请选择二级故障</option>
                            <option value="{{subFault.id}}" ng-repeat="subFault in subFaultList">{{subFault.name}}</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>

    </article>
    <footer class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">添加</button>
        <button class="btn btn-warning" ng-click="cancel()">退出</button>
    </footer>
</section>