<section>
    <header>
        <h3>添加报价</h3>
    </header>
    <article>
        <div class="container">
            <div class="panel panel-success">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="well">
                        <button type="button" class="btn btn-default" ng-click="addQuoteDtl()"> 
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div>
                    <table class="table table-success table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class='text-center vertical-middle'>品牌</th>
                                <th class='text-center vertical-middle'>型号</th>
                                <th class='text-center vertical-middle'>一级故障</th>
                                <th class='text-center vertical-middle'>二级故障</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </article>
    <footer></footer>
</section>