<section>
    <header>
        <div class="well">
            <h3>添加报价</h3>
            <a class="btn btn-default" ui-sref="index.quote"> <i class="glyphicon glyphicon-share-alt flip-horizontal"></i>
                返回
            </a>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="panel panel-success">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="well">
                        <button type="button" class="btn btn-default" ng-click="addQuoteDtl()"> <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div>
                    <table class="table table-success table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class='text-center vertical-middle'>品牌</th>
                                <th class='text-center vertical-middle'>型号</th>
                                <th class='text-center vertical-middle'>来源</th>
                                <th class='text-center vertical-middle'>一级故障</th>
                                <th class='text-center vertical-middle'>二级故障</th>
                                <th class='text-center vertical-middle'>报价</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="quote in quoteList">
                                <td>{{quote.brand.name}}</td>
                                <td>{{quote.model.name}}</td>
                                <td>{{quote.model.offergoal|ordersourceParse}}</td>
                                <td>{{quote.fault.name}}</td>
                                <td>{{quote.subFault.name}}</td>
                                <td>
                                    <input type="text" ng-model="quote.quote" ng-init="quote.quote=0" class="form-control"  placeholder="报价"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer clearfix">
                    <button type="button" class="pull-right btn btn-default" ng-click="submit()">确定</button>
                </div>
            </div>
        </div>
    </article>
    <footer></footer>
</section>