<section>
    <header>
        <h3>券-管理</h3>
        <div class="well">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" ng-click="alterC()" class="btn btn-default">修改券</button>

                </div>
                <div class="btn-group" role="group">
                    <a class="btn btn-default">暂时没什么用</a>
                </div>
            </div>
        </div>
    </header>
    <article>
        <table class="table table-success table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class='text-center text-nowrap vertical-middle'>
                        卡券ID
                        <input type="text" class='form-control' ng-model="filter.card_id"></th>
                    <th class='text-center vertical-middle text-nowrap'>
                        卡券标题
                        <input type="text" class='form-control' ng-model="filter.card_title"></th>
                    <th class='text-center vertical-middle text-nowrap'>
                        卡券名字
                        <input type="text" class='form-control' ng-model="filter.card_name"></th>
                    <th class='text-center vertical-middle text-nowrap'>卡券描述</th>
                    <th class='text-center vertical-middle text-nowrap'>
                        卡券开始时间
                        <input type="date" class='form-control' ng-model="filter.card_start_time"></th>
                    <th class='text-center vertical-middle text-nowrap'>
                        卡券持续时间
                        <input type="number" class='form-control' ng-model="filter.card_expire_time"></th>
                    <th class='text-center vertical-middle text-nowrap'>
                        卡券领取后持续时间
                        <input type="number" class='form-control' ng-model="filter.card_get_expire_time"></th>
                    <th class='text-center vertical-middle text-nowrap'>
                        卡券最大数量
                        <input type="number" class='form-control' ng-model="filter.card_max_number"></th>
                    <th class='text-center vertical-middle text-nowrap'>
                        卡券已领取数额
                        <input type="number" class='form-control' ng-model="filter.card_get_number"></th>
                    <th class='text-center vertical-middle text-nowrap'>
                        卡券价格
                        <input type="number" class='form-control' ng-model="filter.card_price"></th>
                    <th class='text-center vertical-middle text-nowrap'>
                        卡券单位
                        <input type="text" class='form-control' ng-model="filter.card_cell"></th>
                    <th class='text-center vertical-middle text-nowrap'>卡券类型</th>
                    <th class='text-center vertical-middle text-nowrap'>领取提示</th>
                    <th class='text-center vertical-middle text-nowrap'>是否显示</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="card in cardList">
                   <td class="vertical-middle">{{card.card_id}}</td>
                   <td class="vertical-middle">{{card.card_title}}</td>
                   <td class="vertical-middle">{{card.card_name}}</td>
                   <td class="vertical-middle">{{card.card_des}}</td>
                   <td class="vertical-middle">{{card.card_start_time}}</td>
                   <td class="vertical-middle">{{card.card_expire_time}}</td>
                   <td class="vertical-middle">{{card.card_get_expire_days}}</td>
                   <td class="vertical-middle">{{card.card_max_number}}</td>
                   <td class="vertical-middle">{{card.card_get_number}}</td>
                   <td class="vertical-middle">{{card.card_price}}</td>
                   <td class="vertical-middle">{{card.card_cell}}</td>
                   <td class="vertical-middle">{{card.card_type}}</td>
                   <td class="vertical-middle">{{card.card_get_tips}}</td>
                   <td class="vertical-middle">{{card.card_show}}</td>
                </tr>
            </tbody>
        </table>
    </article>
    <footer></footer>
</section>