<section>
    <header class="modal-header">
        <h3 class="modal-title">维修员列表</h3>
    </header>
    <article class="modal-body">
        <ui-select ng-model="data.engineer" theme="bootstrap">
            <ui-select-match allow-clear="true" placeholder="选择工程师">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="engineer in engineers | propsFilter: {name: $select.search, code: $select.search}">
                <div>
                    名字:
                    <span ng-bind-html="''+engineer.name | highlight: $select.search"></span>
                </div>
                <small>
                    编码:
                    <span ng-bind-html="''+engineer.code | highlight: $select.search"></span>
                </small>
            </ui-select-choices>
        </ui-select>
    </article>
    <footer class="modal-footer">
        <button class="btn btn-primary" ng-show="data.engineer" ng-click="assign()">派单</button>
        <button class="btn btn-warning" ng-click="cancel()">退出</button>
    </footer>
</section>