<section id="index" class="clearfix">
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Patica</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">查单</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="body">
        <aside>
            <div class="item">
                <a ui-sref="index.order">
                    <i class="glyphicon glyphicon-search"></i><span>查单</span>    
                </a>
            </div>
             <div class="item">
                <a href="">
                    <i class="glyphicon glyphicon-search"></i><span>暂无</span>    
                </a>
            </div>
        </aside>
        <article>
            <div ui-view=""></div>
        </article>        
    </div>

    <footer></footer>
</section>