<section class="container-fluid">
    <header></header>
    <article>
        <div class="panel panel-default">
            <div class="panel-heading">订单列表&gt;所有订单</div>
            <div class="panel-body">
                <p>...</p>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>订单号</th>
                        <th>订单类型</th>
                        <th>下单时间</th>
                        <th>是否支付</th>
                        <th>订单状态</th>
                        <th>用户姓名-电话</th>
                        <th>维修内容</th>
                        <th>维修价格</th>
                        <th>上门日期</th>
                        <th>用户地址</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in page.orders">
                        <td>{{order.orderid}}</td>
                        <td>{{order.order_type}}</td>
                        <td>{{order.ordertime}}</td>
                        <td>{{order.pay_status}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.user_real_name}} {{order.user_phone}}</td>
                        <td>{{order.trouble_desc}}</td>
                        <td>
                            原价：{{order.total_price}} 
                            折扣：{{order.discount_price}}
                            实付：{{order.total_price-order.discount_price}}    
                        </td>
                        <td>{{order.user_repair_date}} {{order.user_repair_time_slot}}</td>
                        <td>{{order.user_city}} {{order.user_area}} {{order.address_desc}}</td>
                        <td>{{order.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
    <footer></footer>
</section>

