<div id="order">
订单信息:{{oi}}
    <div class="header text-center">手机信息</div>
    <div class="panel text-center"  ng-class="{true: 'panel-success', false: 'panel-default'}[step>0]">
        <div class="panel-heading" ng-click="clickHandle('brand')">{{oi.brand.name||'品牌'}}</div>
        <div class="panel-body" ng-show="show=='brand'" style="padding:0">
            <div class="item" ng-click="checkHandle('brand',brand)" ng-repeat="brand in list.brandType.brandList track by $index">{{brand.name}}</div>
        </div>
    </div>
    <div class="panel text-center" ng-class="{true: 'panel-success', false: 'panel-default'}[step>1]">
        <div class="panel-heading" ng-click="clickHandle('version')">{{oi.version.name||'型号'}}</div>
        <div class="panel-body" ng-show="show=='version'" style="padding:0">
            <div class="item" ng-click="checkHandle('version',version)" ng-repeat="version in list.versionType.versionList track by $index">{{version.name}}</div>
        </div>
    </div>
    <div class="panel text-center" ng-class="{true: 'panel-success', false: 'panel-default'}[step>2]">
        <div class="panel-heading" ng-click="clickHandle('color')">{{oi.color.name||'颜色'}}</div>
        <div class="panel-body" ng-show="show=='color'" style="padding:0">
            <div class="item" ng-click="checkHandle('color',color)" ng-repeat="color in list.colorType.colorList track by $index">{{color.name}}</div>
        </div>
    </div>
    <div class="panel text-center" ng-class="{true: 'panel-success', false: 'panel-default'}[step>3]">
        <div class="panel-heading" ng-click="clickHandle('fault')">{{oi.fault.name||'故障'}}</div>
        <div class="panel-body" ng-show="show=='fault'" style="padding:0">
            <div>
                <div class="cell" ng-click="checkHandle('fault',{name:'外屏破碎'})">
                    <span style="font-size:200%" class="glyphicon glyphicon-flash"></span>
                    <div>外屏破碎</div>
                </div>
                <div class="cell" ng-click="checkHandle('fault',{name:'WIFI'})">
                    <span style="font-size:200%" class="glyphicon glyphicon-signal"></span>
                    <div>WIFI</div>
                </div>
                <div class="cell" ng-click="checkHandle('fault',{name:'开机'})">
                    <span style="font-size:200%" class="glyphicon glyphicon-off"></span>
                    <div>开机</div>
                </div>
                <div class="cell" ng-click="checkHandle('fault',{name:'麦克风'})">
                    <span style="font-size:200%" class="glyphicon glyphicon-earphone"></span>
                    <div>麦克风</div>
                </div>
            </div>
            <div class="item" ng-click="checkHandle('fault',fault)" ng-repeat="fault in list.faultType.faultList track by $index">{{fault.name}}</div>
        </div>
    </div>
    <button  class="btn btn-success btn-lg btn-block" ng-click="submit()">提交订单</button>
    
</div>
